html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Epilogue", sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(24, 24, 24);
    color: rgb(245, 245, 245);
  }
}

body a {
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 30%;
  width: 60%;
  min-width: 60%;
}

@media (max-width: 600px) {
  .main {
    width: 85%;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem 2rem;
  height: 100%;
  background-color: rgba(182, 224, 250, 0.479);
  border-radius: 10px;
  font-size: 1.1rem;
  text-align: center;
}

@media (min-width: 600px) {
  .card {
    width: 100%;
  }
}

.hero-icon {
  font-size: 2rem;
}

/* todo: remove later */
.renew-btn-container {
  font-size: 2rem;
}

.animation-out {
  animation: 0.5s out;
}

@keyframes out {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0;
  }
}

.animation-in {
  animation: 0.5s in;
}

@keyframes in {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}
